@import "../../style/variables.scss";

.TablePages {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.tableNav {
    padding: 5px 10px 7px;
    margin: 10px 5px 10px 5px;
    font-weight: bold;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    display: block;
    text-decoration: none;

    &:hover {
        color: #fff;
        background: $primary;
    }
}

.tableNavActive {
    color: #fff;
    background: $primary;
}

@media screen and (max-width: 450px) {
    .TablePages {
        flex-wrap: wrap;
    }
}