.Layout {
    width: 100%;
    height: 100vh;
    background: rgb(250, 250, 250);
}

.Layout > main {
    padding: 0 150px;
}

@media screen and (max-width: 850px) {
    .Layout > main {
        padding: 0 10px;
    }
}

@media screen and (max-width: 450px) {
    .Layout > main {
        padding: 0 5px;
    }
}